.page-node-type-evento .region-full-content #block-views-block-frontend-estrazione-banner-block-10 {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.page-node-type-evento .region-full-content #block-views-block-frontend-estrazione-banner-block-10 div div .view-content .views-row div .field-content img {
  width: 100%;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content {
  max-width: 750px;
  width: 100%;
  margin: 38px auto;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content {
  display: flex;
  flex-wrap: wrap;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-dettagli-eventol {
  width: 100%;
  margin-top: 24px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-dettagli-eventol .field-content p {
  text-align: left;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento .field-content {
  align-items: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento .field-content .field_argomento_eventor {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 5px 20px 5.92px 21px;
  background-color: #007B7C;
  margin-right: 15px;
  text-transform: uppercase;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento .field-content .field_luogo {
  color: #333333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento .field-content .field_azienda_di_riferimento {
  color: #3BAA35;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento .field-content span:nth-child(2) {
  margin-right: 10px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-azienda-di-riferimento .field-content span:nth-child(3) {
  margin-left: 10px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-data-inizio {
  width: 100%;
  margin-top: 21.08px;
  margin-bottom: 20px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-data-inizio .field-content {
  text-align: center;
  justify-content: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-data-inizio .field-content .date .datetime {
  color: #616E76;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-title {
  width: 100%;
  text-align: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-title .field-content {
  color: #333333;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
  justify-content: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-url {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-url .field-content {
  text-align: center;
  justify-content: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .views-field-field-url .field-content a {
  color: #3BAA35;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper {
  width: 49%;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-azienda-di-riferimento {
  display: flex;
  justify-content: start;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-azienda-di-riferimento .field-content {
  align-items: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-azienda-di-riferimento .field-content span:nth-child(2) {
  margin-right: 10px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-azienda-di-riferimento .field-content span:nth-child(3) {
  margin-left: 10px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-data-inizio {
  margin-top: 21.08px;
  margin-bottom: 20px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-data-inizio .field-content {
  text-align: left;
  justify-content: start;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-title {
  text-align: left;
  margin-bottom: 33px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-title .field-content {
  text-align: left;
  justify-content: start;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-url {
  margin-top: 6px;
  margin-bottom: 40px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .event-info-external-wrapper .views-field-field-url .field-content {
  text-align: left;
  justify-content: start;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-views-conditional-field .field-content .eventi-with-image {
  width: 50%;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-dettagli-eventol {
  margin-bottom: 64px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-dettagli-eventol .field-content p {
  color: #616E76;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-relatori .field-content {
  display: flex;
  flex-direction: column;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-relatori .field-content .relatori {
  position: relative;
  color: #333333;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-relatori .field-content .relatori::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 661px;
  border: 1px solid #D7D7D7;
  top: 12px;
  left: 86px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-relatori .field-content .relatori::before {
  content: "";
  background-color: #3BAA35;
  position: absolute;
  height: 2px;
  width: 50px;
  border: 2px solid #3BAA35;
  z-index: 3;
  left: 85px;
  top: 11px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-relatori .field-content .field_relatori__value {
  margin-top: 12.5px;
  color: #616E76;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti span {
  position: relative;
  color: #333333;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 648px;
  border: 1px solid #D7D7D7;
  top: 12px;
  left: 101px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti span::before {
  content: "";
  background-color: #3BAA35;
  position: absolute;
  height: 2px;
  width: 50px;
  border: 2px solid #3BAA35;
  z-index: 3;
  left: 100px;
  top: 11px;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti .field-content {
  display: flex;
  justify-content: space-between;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti .field-content span {
  margin-top: 12.5px;
  color: #616E76;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  font-weight: unset;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti .field-content span::before {
  display: none;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti .field-content span::after {
  display: none;
}
.page-node-type-evento .region-full-content #block-views-block-single-event-block-1 .view-id-single_event .view-content .views-row .views-field-field-documenti .field-content a {
  color: #3BAA35;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  margin-top: 22px;
}
.page-node-type-evento .region-full-content #block-socialsharingblock-2 {
  max-width: 750px;
  width: 100%;
  margin: 65px auto;
  border-top: 1px solid #D7D7D7;
}
.page-node-type-evento .region-full-content #block-socialsharingblock-2 .social-media-sharing {
  display: flex;
  justify-content: end;
}
.page-node-type-evento .region-full-content #block-socialsharingblock-2 .social-media-sharing ul {
  margin-top: 12px;
  margin-bottom: unset;
}
.page-node-type-evento .region-full-content #block-socialsharingblock-2 .social-media-sharing ul::before {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 22px;
  content: "\f1e0";
  font-family: "FontAwesome", sans-serif;
}
.page-node-type-evento .region-full-content #block-socialsharingblock-2 .social-media-sharing ul li {
  margin-right: 5px;
}
.page-node-type-evento .region-full-content #block-socialsharingblock-2 .social-media-sharing ul li:last-child {
  margin-right: unset;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 {
  max-width: 751px;
  width: 100%;
  margin: 0 auto;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-header span {
  color: #333333;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-header span::before {
  content: "";
  background-color: #3BAA35;
  position: absolute;
  height: 2px;
  width: 50px;
  border: 2px solid #3BAA35;
  z-index: 3;
  left: 75px;
  top: 11px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-header span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 560px;
  border: 1px solid #D7D7D7;
  top: 12px;
  left: 101px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-header a {
  color: #3BAA35;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  text-decoration-thickness: 3px;
  text-transform: uppercase;
  text-underline-offset: 2px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row {
  display: flex;
  border-bottom: 1px solid #D7D7D7;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-tipologia-evento {
  margin-top: 19.6px;
  width: 92px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-tipologia-evento .field-content span {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 5px 10px 5.92px 11px;
  background-color: #007B7C;
  text-transform: uppercase;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-azienda-di-riferimento {
  margin-top: 19.6px;
  margin-left: 17px;
  margin-bottom: 40px;
  max-width: 90px;
  width: 100%;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-azienda-di-riferimento .field-content {
  display: flex;
  flex-direction: column;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-azienda-di-riferimento .field-content .field_date_evento .datetime {
  color: #616E76;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-azienda-di-riferimento .field-content .field_luogo {
  color: #333333;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-field-azienda-di-riferimento .field-content .field_azienda_di_riferimento {
  color: #3BAA35;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-title {
  margin-left: 33px;
  margin-top: 19.6px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-title .field-content a {
  color: #333333;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: none;
}
.page-node-type-evento .region-full-content #block-views-block-3-recent-events-block-1 .view-id-3_recent_events .view-content .views-row .views-field-title .field-content .details-wrapper {
  margin-top: 7px;
  color: #616E76;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content {
  padding: 0;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner {
  margin-bottom: 64px;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner {
    flex-direction: column;
    align-items: center;
  }
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer {
  width: 33.33%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer {
    max-width: 345px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer {
    max-width: 360px;
    width: 100%;
  }
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer .view-content {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer .view-content {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 767px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer .view-content {
    margin-top: 0 !important;
  }
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer .view-content .views-row {
  width: 100%;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-footer .view-content .views-row > div {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
  width: 66.66%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content {
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100%;
  }
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row {
  width: 50%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row {
    max-width: 345px !important;
    margin-bottom: 0 !important;
  }
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row > div {
  max-width: 360px;
  margin-left: 0;
  margin-right: auto;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row > div {
    max-width: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row > div {
    margin: 0 auto 0 0 !important;
  }
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row img {
  width: 100%;
  max-width: 100%;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-row:last-child > div:not(:nth-child(n+2)) {
  margin: 0 auto;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-field-field-immagine-del-banner .field-content a img {
  width: 100%;
  max-width: 100%;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-field-field-categoria-banner {
  margin-top: 10px;
  margin-bottom: 4px;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-field-field-categoria-banner .field-content a {
  color: #616E76;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 21px;
  text-decoration: none;
}
.page-node-type-evento .content-region-external-wrapper .content-section .region-content .views-element-container .view-frontend-estrazione-banner .view-content .views-field-field-titolo-banner-special .field-content a {
  color: #333333;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .page-node-type-page .content-region-external-wrapper .content-section .region-content #block-views-block-hub-eventi-block-1 .view-content .views-row > div:nth-child(2) {
    max-width: 86px;
  }
}

/*# sourceMappingURL=eventi.css.map */
